# Practicing Data Cleaning

## Supermarket Sales Data Cleaning

Importing "Pandas and Numpy"

In [62]:
import pandas as pd
import numpy as np

Importing The CSV File

In [63]:
df = pd.read_csv("D:/GITHUB Uploads/ClassWorks-of-SongJog/Python H_W/Practice/practicing_data_cleaning/supermarket_sales-Sheet1.csv")

In [64]:
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [66]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [67]:
df["Gender"].fillna(df["Gender"].mode()[0])

0      Female
1      Female
2        Male
3        Male
4        Male
        ...
995      Male
996    Female
997      Male
998      Male
999    Female
Name: Gender, Length: 1000, dtype: object

In [68]:
df["City"].fillna(df["City"].mode()[0])

0         Yangon
1      Naypyitaw
2         Yangon
3         Yangon
4         Yangon
         ...
995    Naypyitaw
996     Mandalay
997       Yangon
998       Yangon
999       Yangon
Name: City, Length: 1000, dtype: object

In [69]:
print(df[["Invoice ID", "City"]])

      Invoice ID       City
0    750-67-8428     Yangon
1    226-31-3081  Naypyitaw
2    631-41-3108     Yangon
3    123-19-1176     Yangon
4    373-73-7910     Yangon
..           ...        ...
995  233-67-5758  Naypyitaw
996  303-96-2227   Mandalay
997  727-02-1313     Yangon
998  347-56-2442     Yangon
999  849-09-3807     Yangon

[1000 rows x 2 columns]

In [70]:
df["Unit price"].mean()

55.67213

In [71]:
df["Unit price"].max()

99.96

In [72]:
df["Unit price"].min()

10.08

In [73]:
df["gross income"].mean()

15.379368999999999

In [74]:
df["gross income"].max()

49.65

In [75]:
df["gross income"].min()

0.5085

In [76]:
filter_df = df[df["Total"] > 500]
print(filter_df)

      Invoice ID Branch       City Customer type  Gender  \
0    750-67-8428      A     Yangon        Member  Female
4    373-73-7910      A     Yangon        Normal    Male
5    699-14-3026      C  Naypyitaw        Normal    Male
7    315-22-5665      C  Naypyitaw        Normal  Female
14   829-34-3910      A     Yangon        Normal  Female
..           ...    ...        ...           ...     ...
988  267-62-7380      C  Naypyitaw        Member    Male
989  430-53-4718      B   Mandalay        Member    Male
991  602-16-6955      B   Mandalay        Normal  Female
996  303-96-2227      B   Mandalay        Normal  Female
999  849-09-3807      A     Yangon        Member  Female

               Product line  Unit price  Quantity   Tax 5%      Total  \
0         Health and beauty       74.69         7  26.1415   548.9715
4         Sports and travel       86.31         7  30.2085   634.3785
5    Electronic accessories       85.39         7  29.8865   627.6165
7        Home and lifestyle       73.56        10  36.7800   772.3800
14        Health and beauty       71.38        10  35.6900   749.4900
..                      ...         ...       ...      ...        ...
988  Electronic accessories       82.34        10  41.1700   864.5700
989       Health and beauty       75.37         8  30.1480   633.1080
991       Sports and travel       76.60        10  38.3000   804.3000
996      Home and lifestyle       97.38        10  48.6900  1022.4900
999     Fashion accessories       88.34         7  30.9190   649.2990

          Date   Time      Payment    cogs  gross margin percentage  \
0     1/5/2019  13:08      Ewallet  522.83                 4.761905
4     2/8/2019  10:37      Ewallet  604.17                 4.761905
5    3/25/2019  18:30      Ewallet  597.73                 4.761905
7    2/24/2019  11:38      Ewallet  735.60                 4.761905
14   3/29/2019  19:21         Cash  713.80                 4.761905
..         ...    ...          ...     ...                      ...
988  3/29/2019  19:12      Ewallet  823.40                 4.761905
989  1/28/2019  15:46  Credit card  602.96                 4.761905
991  1/24/2019  18:10      Ewallet  766.00                 4.761905
996   3/2/2019  17:16      Ewallet  973.80                 4.761905
999  2/18/2019  13:28         Cash  618.38                 4.761905

     gross income  Rating
0         26.1415     9.1
4         30.2085     5.3
5         29.8865     4.1
7         36.7800     8.0
14        35.6900     5.7
..            ...     ...
988       41.1700     4.3
989       30.1480     8.4
991       38.3000     6.0
996       48.6900     4.4
999       30.9190     6.6

[227 rows x 17 columns]

In [77]:
filter_df = df[df["Total"] < 500]
print(filter_df)

      Invoice ID Branch       City Customer type  Gender  \
1    226-31-3081      C  Naypyitaw        Normal  Female
2    631-41-3108      A     Yangon        Normal    Male
3    123-19-1176      A     Yangon        Member    Male
6    355-53-5943      A     Yangon        Member  Female
8    665-32-9167      A     Yangon        Member  Female
..           ...    ...        ...           ...     ...
993  690-01-6631      B   Mandalay        Normal    Male
994  652-49-6720      C  Naypyitaw        Member  Female
995  233-67-5758      C  Naypyitaw        Normal    Male
997  727-02-1313      A     Yangon        Member    Male
998  347-56-2442      A     Yangon        Normal    Male

               Product line  Unit price  Quantity   Tax 5%     Total  \
1    Electronic accessories       15.28         5   3.8200   80.2200
2        Home and lifestyle       46.33         7  16.2155  340.5255
3         Health and beauty       58.22         8  23.2880  489.0480
6    Electronic accessories       68.84         6  20.6520  433.6920
8         Health and beauty       36.26         2   3.6260   76.1460
..                      ...         ...       ...      ...       ...
993     Fashion accessories       17.49        10   8.7450  183.6450
994  Electronic accessories       60.95         1   3.0475   63.9975
995       Health and beauty       40.35         1   2.0175   42.3675
997      Food and beverages       31.84         1   1.5920   33.4320
998      Home and lifestyle       65.82         1   3.2910   69.1110

          Date   Time      Payment    cogs  gross margin percentage  \
1     3/8/2019  10:29         Cash   76.40                 4.761905
2     3/3/2019  13:23  Credit card  324.31                 4.761905
3    1/27/2019  20:33      Ewallet  465.76                 4.761905
6    2/25/2019  14:36      Ewallet  413.04                 4.761905
8    1/10/2019  17:15  Credit card   72.52                 4.761905
..         ...    ...          ...     ...                      ...
993  2/22/2019  18:35      Ewallet  174.90                 4.761905
994  2/18/2019  11:40      Ewallet   60.95                 4.761905
995  1/29/2019  13:46      Ewallet   40.35                 4.761905
997   2/9/2019  13:22         Cash   31.84                 4.761905
998  2/22/2019  15:33         Cash   65.82                 4.761905

     gross income  Rating
1          3.8200     9.6
2         16.2155     7.4
3         23.2880     8.4
6         20.6520     5.8
8          3.6260     7.2
..            ...     ...
993        8.7450     6.6
994        3.0475     5.9
995        2.0175     6.2
997        1.5920     7.7
998        3.2910     4.1

[773 rows x 17 columns]

In [78]:
grouped = df.groupby("Branch")
print(grouped)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000254143FD690>

In [79]:
for name, group in grouped:
    print(f"Branch: {name}")
    print(group)
    print()

Branch: A
      Invoice ID Branch    City Customer type  Gender            Product line  \
0    750-67-8428      A  Yangon        Member  Female       Health and beauty
2    631-41-3108      A  Yangon        Normal    Male      Home and lifestyle
3    123-19-1176      A  Yangon        Member    Male       Health and beauty
4    373-73-7910      A  Yangon        Normal    Male       Sports and travel
6    355-53-5943      A  Yangon        Member  Female  Electronic accessories
..           ...    ...     ...           ...     ...                     ...
990  886-18-2897      A  Yangon        Normal  Female      Food and beverages
992  745-74-0715      A  Yangon        Normal    Male  Electronic accessories
997  727-02-1313      A  Yangon        Member    Male      Food and beverages
998  347-56-2442      A  Yangon        Normal    Male      Home and lifestyle
999  849-09-3807      A  Yangon        Member  Female     Fashion accessories

     Unit price  Quantity   Tax 5%     Total       Date   Time      Payment  \
0         74.69         7  26.1415  548.9715   1/5/2019  13:08      Ewallet
2         46.33         7  16.2155  340.5255   3/3/2019  13:23  Credit card
3         58.22         8  23.2880  489.0480  1/27/2019  20:33      Ewallet
4         86.31         7  30.2085  634.3785   2/8/2019  10:37      Ewallet
6         68.84         6  20.6520  433.6920  2/25/2019  14:36      Ewallet
..          ...       ...      ...       ...        ...    ...          ...
990       56.56         5  14.1400  296.9400  3/22/2019  19:06  Credit card
992       58.03         2   5.8030  121.8630  3/10/2019  20:46      Ewallet
997       31.84         1   1.5920   33.4320   2/9/2019  13:22         Cash
998       65.82         1   3.2910   69.1110  2/22/2019  15:33         Cash
999       88.34         7  30.9190  649.2990  2/18/2019  13:28         Cash

       cogs  gross margin percentage  gross income  Rating
0    522.83                 4.761905       26.1415     9.1
2    324.31                 4.761905       16.2155     7.4
3    465.76                 4.761905       23.2880     8.4
4    604.17                 4.761905       30.2085     5.3
6    413.04                 4.761905       20.6520     5.8
..      ...                      ...           ...     ...
990  282.80                 4.761905       14.1400     4.5
992  116.06                 4.761905        5.8030     8.8
997   31.84                 4.761905        1.5920     7.7
998   65.82                 4.761905        3.2910     4.1
999  618.38                 4.761905       30.9190     6.6

[340 rows x 17 columns]

Branch: B
      Invoice ID Branch      City Customer type  Gender  \
9    692-92-5582      B  Mandalay        Member  Female
10   351-62-0822      B  Mandalay        Member  Female
11   529-56-3974      B  Mandalay        Member    Male
15   299-46-1805      B  Mandalay        Member  Female
19   319-50-3348      B  Mandalay        Normal  Female
..           ...    ...       ...           ...     ...
987  552-44-5977      B  Mandalay        Member    Male
989  430-53-4718      B  Mandalay        Member    Male
991  602-16-6955      B  Mandalay        Normal  Female
993  690-01-6631      B  Mandalay        Normal    Male
996  303-96-2227      B  Mandalay        Normal  Female

               Product line  Unit price  Quantity  Tax 5%     Total  \
9        Food and beverages       54.84         3   8.226   172.746
10      Fashion accessories       14.48         4   2.896    60.816
11   Electronic accessories       25.51         4   5.102   107.142
15        Sports and travel       93.72         6  28.116   590.436
19       Home and lifestyle       40.30         2   4.030    84.630
..                      ...         ...       ...     ...       ...
987       Health and beauty       62.00         8  24.800   520.800
989       Health and beauty       75.37         8  30.148   633.108
991       Sports and travel       76.60        10  38.300   804.300
993     Fashion accessories       17.49        10   8.745   183.645
996      Home and lifestyle       97.38        10  48.690  1022.490

          Date   Time      Payment    cogs  gross margin percentage  \
9    2/20/2019  13:27  Credit card  164.52                 4.761905
10    2/6/2019  18:07      Ewallet   57.92                 4.761905
11    3/9/2019  17:03         Cash  102.04                 4.761905
15   1/15/2019  16:19         Cash  562.32                 4.761905
19   3/11/2019  15:30      Ewallet   80.60                 4.761905
..         ...    ...          ...     ...                      ...
987   1/3/2019  19:08  Credit card  496.00                 4.761905
989  1/28/2019  15:46  Credit card  602.96                 4.761905
991  1/24/2019  18:10      Ewallet  766.00                 4.761905
993  2/22/2019  18:35      Ewallet  174.90                 4.761905
996   3/2/2019  17:16      Ewallet  973.80                 4.761905

     gross income  Rating
9           8.226     5.9
10          2.896     4.5
11          5.102     6.8
15         28.116     4.5
19          4.030     4.4
..            ...     ...
987        24.800     6.2
989        30.148     8.4
991        38.300     6.0
993         8.745     6.6
996        48.690     4.4

[332 rows x 17 columns]

Branch: C
      Invoice ID Branch       City Customer type  Gender  \
1    226-31-3081      C  Naypyitaw        Normal  Female
5    699-14-3026      C  Naypyitaw        Normal    Male
7    315-22-5665      C  Naypyitaw        Normal  Female
20   300-71-4605      C  Naypyitaw        Member    Male
34   183-56-6882      C  Naypyitaw        Member  Female
..           ...    ...        ...           ...     ...
983  148-41-7930      C  Naypyitaw        Normal    Male
984  189-40-5216      C  Naypyitaw        Normal    Male
988  267-62-7380      C  Naypyitaw        Member    Male
994  652-49-6720      C  Naypyitaw        Member  Female
995  233-67-5758      C  Naypyitaw        Normal    Male

               Product line  Unit price  Quantity   Tax 5%     Total  \
1    Electronic accessories       15.28         5   3.8200   80.2200
5    Electronic accessories       85.39         7  29.8865  627.6165
7        Home and lifestyle       73.56        10  36.7800  772.3800
20   Electronic accessories       86.04         5  21.5100  451.7100
34       Food and beverages       99.42         4  19.8840  417.5640
..                      ...         ...       ...      ...       ...
983       Health and beauty       99.96         7  34.9860  734.7060
984  Electronic accessories       96.37         7  33.7295  708.3195
988  Electronic accessories       82.34        10  41.1700  864.5700
994  Electronic accessories       60.95         1   3.0475   63.9975
995       Health and beauty       40.35         1   2.0175   42.3675

          Date   Time  Payment    cogs  gross margin percentage  gross income  \
1     3/8/2019  10:29     Cash   76.40                 4.761905        3.8200
5    3/25/2019  18:30  Ewallet  597.73                 4.761905       29.8865
7    2/24/2019  11:38  Ewallet  735.60                 4.761905       36.7800
20   2/25/2019  11:24  Ewallet  430.20                 4.761905       21.5100
34    2/6/2019  10:42  Ewallet  397.68                 4.761905       19.8840
..         ...    ...      ...     ...                      ...           ...
983  1/23/2019  10:33     Cash  699.72                 4.761905       34.9860
984   1/9/2019  11:40     Cash  674.59                 4.761905       33.7295
988  3/29/2019  19:12  Ewallet  823.40                 4.761905       41.1700
994  2/18/2019  11:40  Ewallet   60.95                 4.761905        3.0475
995  1/29/2019  13:46  Ewallet   40.35                 4.761905        2.0175

     Rating
1       9.6
5       4.1
7       8.0
20      4.8
34      7.5
..      ...
983     6.1
984     6.0
988     4.3
994     5.9
995     6.2

[328 rows x 17 columns]

In [80]:
groupedd = df.groupby("Gender")
print(groupedd)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002540FEC6D10>

In [81]:
for name, group in groupedd:
    print(f"Gender: {name}")
    print(group)
    print()

Gender: Female
      Invoice ID Branch       City Customer type  Gender  \
0    750-67-8428      A     Yangon        Member  Female
1    226-31-3081      C  Naypyitaw        Normal  Female
6    355-53-5943      A     Yangon        Member  Female
7    315-22-5665      C  Naypyitaw        Normal  Female
8    665-32-9167      A     Yangon        Member  Female
..           ...    ...        ...           ...     ...
990  886-18-2897      A     Yangon        Normal  Female
991  602-16-6955      B   Mandalay        Normal  Female
994  652-49-6720      C  Naypyitaw        Member  Female
996  303-96-2227      B   Mandalay        Normal  Female
999  849-09-3807      A     Yangon        Member  Female

               Product line  Unit price  Quantity   Tax 5%      Total  \
0         Health and beauty       74.69         7  26.1415   548.9715
1    Electronic accessories       15.28         5   3.8200    80.2200
6    Electronic accessories       68.84         6  20.6520   433.6920
7        Home and lifestyle       73.56        10  36.7800   772.3800
8         Health and beauty       36.26         2   3.6260    76.1460
..                      ...         ...       ...      ...        ...
990      Food and beverages       56.56         5  14.1400   296.9400
991       Sports and travel       76.60        10  38.3000   804.3000
994  Electronic accessories       60.95         1   3.0475    63.9975
996      Home and lifestyle       97.38        10  48.6900  1022.4900
999     Fashion accessories       88.34         7  30.9190   649.2990

          Date   Time      Payment    cogs  gross margin percentage  \
0     1/5/2019  13:08      Ewallet  522.83                 4.761905
1     3/8/2019  10:29         Cash   76.40                 4.761905
6    2/25/2019  14:36      Ewallet  413.04                 4.761905
7    2/24/2019  11:38      Ewallet  735.60                 4.761905
8    1/10/2019  17:15  Credit card   72.52                 4.761905
..         ...    ...          ...     ...                      ...
990  3/22/2019  19:06  Credit card  282.80                 4.761905
991  1/24/2019  18:10      Ewallet  766.00                 4.761905
994  2/18/2019  11:40      Ewallet   60.95                 4.761905
996   3/2/2019  17:16      Ewallet  973.80                 4.761905
999  2/18/2019  13:28         Cash  618.38                 4.761905

     gross income  Rating
0         26.1415     9.1
1          3.8200     9.6
6         20.6520     5.8
7         36.7800     8.0
8          3.6260     7.2
..            ...     ...
990       14.1400     4.5
991       38.3000     6.0
994        3.0475     5.9
996       48.6900     4.4
999       30.9190     6.6

[501 rows x 17 columns]

Gender: Male
      Invoice ID Branch       City Customer type Gender  \
2    631-41-3108      A     Yangon        Normal   Male
3    123-19-1176      A     Yangon        Member   Male
4    373-73-7910      A     Yangon        Normal   Male
5    699-14-3026      C  Naypyitaw        Normal   Male
11   529-56-3974      B   Mandalay        Member   Male
..           ...    ...        ...           ...    ...
992  745-74-0715      A     Yangon        Normal   Male
993  690-01-6631      B   Mandalay        Normal   Male
995  233-67-5758      C  Naypyitaw        Normal   Male
997  727-02-1313      A     Yangon        Member   Male
998  347-56-2442      A     Yangon        Normal   Male

               Product line  Unit price  Quantity   Tax 5%     Total  \
2        Home and lifestyle       46.33         7  16.2155  340.5255
3         Health and beauty       58.22         8  23.2880  489.0480
4         Sports and travel       86.31         7  30.2085  634.3785
5    Electronic accessories       85.39         7  29.8865  627.6165
11   Electronic accessories       25.51         4   5.1020  107.1420
..                      ...         ...       ...      ...       ...
992  Electronic accessories       58.03         2   5.8030  121.8630
993     Fashion accessories       17.49        10   8.7450  183.6450
995       Health and beauty       40.35         1   2.0175   42.3675
997      Food and beverages       31.84         1   1.5920   33.4320
998      Home and lifestyle       65.82         1   3.2910   69.1110

          Date   Time      Payment    cogs  gross margin percentage  \
2     3/3/2019  13:23  Credit card  324.31                 4.761905
3    1/27/2019  20:33      Ewallet  465.76                 4.761905
4     2/8/2019  10:37      Ewallet  604.17                 4.761905
5    3/25/2019  18:30      Ewallet  597.73                 4.761905
11    3/9/2019  17:03         Cash  102.04                 4.761905
..         ...    ...          ...     ...                      ...
992  3/10/2019  20:46      Ewallet  116.06                 4.761905
993  2/22/2019  18:35      Ewallet  174.90                 4.761905
995  1/29/2019  13:46      Ewallet   40.35                 4.761905
997   2/9/2019  13:22         Cash   31.84                 4.761905
998  2/22/2019  15:33         Cash   65.82                 4.761905

     gross income  Rating
2         16.2155     7.4
3         23.2880     8.4
4         30.2085     5.3
5         29.8865     4.1
11         5.1020     6.8
..            ...     ...
992        5.8030     8.8
993        8.7450     6.6
995        2.0175     6.2
997        1.5920     7.7
998        3.2910     4.1

[499 rows x 17 columns]

In [82]:
fi = pd.DataFrame(df)

In [83]:
fi

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [84]:
df.describe()

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1.000000e+03,1000.000000,1000.00000
mean,55.672130,5.510000,15.379369,322.966749,307.58738,4.761905e+00,15.379369,6.97270
std,26.494628,2.923431,11.708825,245.885335,234.17651,6.131498e-14,11.708825,1.71858
min,10.080000,1.000000,0.508500,10.678500,10.17000,4.761905e+00,0.508500,4.00000
25%,32.875000,3.000000,5.924875,124.422375,118.49750,4.761905e+00,5.924875,5.50000
50%,55.230000,5.000000,12.088000,253.848000,241.76000,4.761905e+00,12.088000,7.00000
75%,77.935000,8.000000,22.445250,471.350250,448.90500,4.761905e+00,22.445250,8.50000
max,99.960000,10.000000,49.650000,1042.650000,993.00000,4.761905e+00,49.650000,10.00000

In [85]:
df.tail(10)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
990,886-18-2897,A,Yangon,Normal,Female,Food and beverages,56.56,5,14.1400,296.9400,3/22/2019,19:06,Credit card,282.80,4.761905,14.1400,4.5
991,602-16-6955,B,Mandalay,Normal,Female,Sports and travel,76.60,10,38.3000,804.3000,1/24/2019,18:10,Ewallet,766.00,4.761905,38.3000,6.0
992,745-74-0715,A,Yangon,Normal,Male,Electronic accessories,58.03,2,5.8030,121.8630,3/10/2019,20:46,Ewallet,116.06,4.761905,5.8030,8.8
993,690-01-6631,B,Mandalay,Normal,Male,Fashion accessories,17.49,10,8.7450,183.6450,2/22/2019,18:35,Ewallet,174.90,4.761905,8.7450,6.6
994,652-49-6720,C,Naypyitaw,Member,Female,Electronic accessories,60.95,1,3.0475,63.9975,2/18/2019,11:40,Ewallet,60.95,4.761905,3.0475,5.9
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [86]:
df.iloc[27]

Invoice ID                         189-17-4241
Branch                                       A
City                                    Yangon
Customer type                           Normal
Gender                                  Female
Product line               Fashion accessories
Unit price                               87.67
Quantity                                     2
Tax 5%                                   8.767
Total                                  184.107
Date                                 3/10/2019
Time                                     12:17
Payment                            Credit card
cogs                                    175.34
gross margin percentage               4.761905
gross income                             8.767
Rating                                     7.7
Name: 27, dtype: object

In [87]:
df.iloc[420]

Invoice ID                        266-76-6436
Branch                                      C
City                                Naypyitaw
Customer type                          Member
Gender                                 Female
Product line               Food and beverages
Unit price                               38.6
Quantity                                    3
Tax 5%                                   5.79
Total                                  121.59
Date                                3/28/2019
Time                                    13:57
Payment                               Ewallet
cogs                                    115.8
gross margin percentage              4.761905
gross income                             5.79
Rating                                    7.5
Name: 420, dtype: object

In [88]:
df.iloc[270]

Invoice ID                       783-09-1637
Branch                                     B
City                                Mandalay
Customer type                         Normal
Gender                                Female
Product line               Sports and travel
Unit price                             67.43
Quantity                                   5
Tax 5%                               16.8575
Total                               354.0075
Date                                3/6/2019
Time                                   18:13
Payment                              Ewallet
cogs                                  337.15
gross margin percentage             4.761905
gross income                         16.8575
Rating                                   6.3
Name: 270, dtype: object

In [89]:
df.iloc[690]

Invoice ID                       394-55-6384
Branch                                     C
City                               Naypyitaw
Customer type                         Member
Gender                                Female
Product line               Sports and travel
Unit price                             70.19
Quantity                                   9
Tax 5%                               31.5855
Total                               663.2955
Date                               1/25/2019
Time                                   13:38
Payment                                 Cash
cogs                                  631.71
gross margin percentage             4.761905
gross income                         31.5855
Rating                                   6.7
Name: 690, dtype: object

In [90]:
df.iloc[669]

Invoice ID                       679-22-6530
Branch                                     B
City                                Mandalay
Customer type                         Normal
Gender                                Female
Product line               Sports and travel
Unit price                             40.62
Quantity                                   2
Tax 5%                                 4.062
Total                                 85.302
Date                               1/17/2019
Time                                   10:01
Payment                          Credit card
cogs                                   81.24
gross margin percentage             4.761905
gross income                           4.062
Rating                                   4.1
Name: 669, dtype: object

In [91]:
df["Date"]

0       1/5/2019
1       3/8/2019
2       3/3/2019
3      1/27/2019
4       2/8/2019
         ...
995    1/29/2019
996     3/2/2019
997     2/9/2019
998    2/22/2019
999    2/18/2019
Name: Date, Length: 1000, dtype: object

In [92]:
df["Customer type"]

0      Member
1      Normal
2      Normal
3      Member
4      Normal
        ...
995    Normal
996    Normal
997    Member
998    Normal
999    Member
Name: Customer type, Length: 1000, dtype: object

In [93]:
element = df.loc[669, "Gender"]

In [94]:
element

'Female'

In [95]:
elementt = df.loc[699, "Gender"]

In [96]:
elementt

'Male'

In [97]:
ee = df.loc[699, "City"]

In [98]:
ee

'Naypyitaw'